body{
    background: #bdc3c7;
}
h1{
    color: #9b59b6;
}
h2{
    color: orange;
}
li{
    color: blue;
}
p{background: yellow;}
input{
    border: 3px solid red;
}

#special{
    border: 2px solid blue;
}
#special~p{
    border: none;
}
div > p{
    font-size: 25px;
}
input[type="text"]{
    background-color: gray;
}

div p:nth-last-child(1){
    border: 5px solid white;
}
em{
    color: white;
    font-size: 20px;
}
.hello{
    background-color: white;
}