.block_red{
    background-color: red;
}
.block_green{
    background-color: green;
}
.block_blue{
    background-color: blue;
}
.block_yellow{ 
    background-color: yellow;
}
.block_black{
    background-color: black;
}
div{
    float: left;
    min-width: 20%;
    height: 200px;
}
*{
    margin: 0;
    padding: 0;
}