li{
    margin-bottom: 16px;
}
ol li span{
    color: white;
    background: green;
}
ul li span{
    background: orange;
    color: white;
}
#special+li>span{
    border: 3px solid red;
}
#special~li>span{
    margin-left: 16px;
}