html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
.header{
    height: 40px;
    width: 100%;
    background-color: darkturquoise;
    z-index: 5;
    position: fixed;
}
ul{
    display: flex;
    line-height: 40px;
    color: white;
    margin-left: 40px;

}
.nav-item{
    margin-left: 16px;
    text-decoration: none;
}
/* .nav-item:first-child{
    margin-left: 40px;
} */
.content{
    z-index: 2;
    height: 5000px;
    width: 100%;
    background-color: beige;
    padding-top: calc(50vh - 100px);
}
.head{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    

    position: relative;
    background-color: aquamarine;
}
.ear{
    width: 40px;
    height: 60px;
    background-color: brown;
}
.eye{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-radius: 50%;
}
.ear_right{
    position: absolute; 
     left: -40px; 
    top: -60px; 
}
.ear_left{
    position: absolute;
    right: -40px; 
    top: -60px;
}
.eye_right{
    position: absolute;
    top: 80px;
    left: 40px;
}
.eye_left{
    position: absolute;
    top: 80px;
    right: 40px;
}