@import 'breakpoints.scss';
*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    .container{
        margin: auto;
        @include for-landscape-size{
            display: flex;
            .square{
                margin: 8px;
            }
        }
        .square{
            width: 100px;
            height: 100px;
            margin: 16px;
            background-color: #c47;
            @include for-large-up{
                background-color: #a61;
            }
            @include for-medium-up{
                background-color: #8a2be2;
            }
            @include for-extra-small{
                background-color: #ff7f50;
            }
            @include for-landscape-size{
                margin: 8px;
        }
        }
    }
}
